@use '../../styles/vars' as v;

.favorites {
    width: 80%;
    margin: 3em auto;
    
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;

        &__part {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__title {
            font-size: 1.5em;
            font-weight: bold;
            color: v.$fourthColor;
            text-align: center;

            @media (max-width: v.$breakpoint) {
                font-size: 1em;
            }
                
        }

        &__name {
            font-size: 1.1em;
            font-weight: bold;
            color: v.$fourthColor;

            @media (max-width: v.$breakpoint) {
                font-size: .8em;
            }
        }
    }
        
}
    
