@use 'src/styles/vars' as v;

.newClient {
    &__title {
      text-align: center;
      }
    &__form {
        width: 80%;
        margin: 0 auto;

        &__inputGroup{
            display: flex;
            justify-content: flex-start;
        }
        &__input {
            width: 100%;
            padding: .7em;
            font-size: 1.2em;
            border: 1px solid #ddd;
            border-radius: .3em;
            height: 3.5em;
            margin-top: 1em;

            &:focus {
              border-color: v.$primaryColor;

              & + .field__label {
                color: v.$primaryColor;
              }
            }
        
        }
        &__buttons {
            display: flex;
            justify-content: center;
            &__button {
                margin: 1em;
            }
        }
    }
}


