$primaryColor: #c89f87;
$secondaryColor: #ecdecf;
$thirdColor: #bec0b5;
$fourthColor: #82857a;
$fifthColor: #b58d34;




.myButton {
    display: block;
    background: $primaryColor;
    color: #fff;
    border-radius: 3px;
    padding: .5em 1em;
    font-size: 1.1em;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        background: #fff;
        color: $primaryColor;
        border: 1px solid $primaryColor;
    }
};

.mySmallButton {
    display: block;
    background: $fourthColor;
    color: #fff;
    border-radius: 3px;
    padding: .2em .5em;
    font-size: .8em;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        background: #fff;
        color: $primaryColor;
        border: 1px solid $primaryColor;
    }
};