@use '../../styles/vars' as v;

.admin {
    display: flex;

    &__menu {
        width: 25%;
        min-width: 200px;
        background-color: v.$thirdColor;
        height: 100vh;
    }

    &__right {
        width: 100%;
        margin: 0 4em;
    }
}

table,
td {
    border: 1px solid v.$primaryColor;
}

thead,
tfoot {
    background-color: v.$thirdColor;
    color: #fff;
}


