.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__image {
       width: 800px;

       @media (max-width: 768px) {
        width: 350px;
    }
    }
}