@use '../../styles/vars' as v;

.header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    margin: 0 1em;

    &__logoAndTitle {
        display: flex;
        justify-content: flex-start;
        margin: auto 0;

        &__logo {
            height: 150px;
        }
     
        &__title {
            font-size: 1.5rem;
            font-weight: bold;
            color: v.$fourthColor;
            margin: auto 1.5em;
            text-decoration: none;
        }
    }

    &__link {
        text-decoration: none;
        font-size: 1.2rem;
        margin: auto 0;
        border: none;
        background-color: v.$fifthColor;
        padding: .5em 1em;
        color: white;
    }

    &__person {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__first {
            display: flex;
            align-items: center;

            &__message {
                font-size: 1.5em;
                margin-left: .5em;
            }
            &__icon {
                font-size: 3rem;
                color: v.$fifthColor;
            }    
        }

        &__second {
            margin-top: .2em;
            display: flex;
            justify-content: flex-end;
            
            &__button {
                margin: 0 .5em;
            }
            
        }
    
    

        
        
        &__button {
            display: block;
            margin: 0 auto;
            color: white;
            background-color: v.$fifthColor;
            border: none;
            padding: .5em 1em;
        }
    }
}