@use '../../styles/vars' as v;

.header {
    margin-bottom: 2rem;
    @media (max-width: v.$breakpoint) {
        margin-bottom: .5rem;
    }

    &__logo {
        height: 170px;
        @media (max-width: v.$breakpoint) {
            height: 60px;
        }
        &__small {
            height: 130px;
            @media (max-width: v.$breakpoint) {
                height: 60px;
            }
        }
    }

    &__login {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    &__person {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        

        &__first {
            display: flex;
            align-items: center;
            margin-right: 2rem;
            @media (max-width: v.$breakpoint) {
                margin-right: .1rem;
            }

            &__message {
                font-size: 1.5em;
                @media (max-width: v.$breakpoint) {
                    font-size: .8em;
                }
            }
            &__icon {
                font-size: 3rem;
                color: v.$fifthColor;
                @media (max-width: v.$breakpoint) {
                    font-size: 1.5rem;
                }
            }    
        }

        &__second {
            margin-top: .2em;
            display: flex;
            justify-content: flex-end;
            margin-right: 2rem;
            @media (max-width: v.$breakpoint) {
                margin-right: .1rem;
            }
            
            &__button {
                margin: 0 .5em;
            }
            
        }

    }
    
    &__mobile {
        margin: 0 1em;
        display: flex;
        justify-content: space-between;

        &__login {
            background-color: red;
        }
    }


}