@use '../../styles/vars' as v;

.navbar {
background-color: whitesmoke;
margin-bottom: 2em;

    &__link {
        margin: .3em .7em;
        font-size: 1.2em;
        cursor: pointer;
        letter-spacing: .2em;

        &:hover {
            border-bottom: 3px solid v.$fifthColor;
        }
    }

    &__mobile {
        &__icon {
            font-size: 2.2em;
            text-align: right;
            display: block;
            padding-right: .5em;
        }
    }


}

#nav-dropdown {
margin: .3em .7em;
font-size: 1.2em;
cursor: pointer;
letter-spacing: .2em;

    &:hover {
        border-bottom: 3px solid v.$fifthColor;
    }

    &-link {
        font-size: 1.2em;
        cursor: pointer;

        &:hover {
            background-color: v.$fifthColor;
        }
        
    }
}

.active {
    border-bottom: 3px solid v.$fifthColor;
}

#burgerMenu {
    font-size: 2rem;
    display: block;
    text-align: right;
    padding: 0;
    padding-right: .3em;
}

#dropdown-menu {
    background-color: v.$thirdColor;
    width: 80vw;
    height: 100vh;
}
    


