@use '../../styles/vars' as v;

.dashboard {
    &__title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
        text-align: center;
    }

    &__select {
        display: block;
        margin: 1rem auto;
        background-color: v.$thirdColor;
        padding: .5em;
        border-radius: .5em;
        color: white;
        font-size: 1rem;
        text-align: center;
        border: none;

        &__option {
            margin: 0.5rem;
        }
    }
}