@use '../../styles/vars' as v;

.dashboard {
    
    &__title {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;

        @media (max-width: v.$breakpoint) {
            font-size: 1rem;
        }
    }

    &__galleries {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media (max-width: v.$breakpoint) {
            display: block;
        } 
    }

    &__gallery {

        &__picture {
            height: 320px;
            margin: 0 1rem;

            @media (max-width: v.$breakpoint) {
                height: 150px;
            }
        }

        &__name {
            margin: 0 auto;
            background-color: rgba(255, 255, 255, 0.647);
            padding: .5rem;
            font-size: 1.3rem;
            font-weight: bold;
            text-align: center;
            width: 80%;
            border-radius: 5px;
            color: v.$fifthColor;
            position: relative;
            top: -100px;

            @media (max-width: v.$breakpoint) {
                position: static;
                text-align: center;
                top: 0;
                left: 0;
                width: 100%;
                margin: 0 auto;
            }
        }
        
    }

  
}
