@use '../../styles/vars' as v;

.page {
    width: 80%;
    margin: 3em auto;

    &__title {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 2rem;
        text-align: center;
    }

    &__content {
        display: flex;
        margin: 0 2em;
        margin-bottom: 4em;

        &__image {
            //width: ???;
            height: 500px;
            margin-right: 1rem;
        }

        &__prices {
            width: 60%;
            margin: 2em auto;
            margin-bottom: 4em;
            border: 2px solid v.$fifthColor;
            text-align: center;
            padding: 2em;

            &__price {
                font-size: 1.2rem;
            }
        }
    }

    
}