@use '../../styles/vars' as v;

.page {
    width: 80%;
    margin: 0 auto;

    &__title {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 2rem;
        text-align: center;

        @media (max-width: v.$breakpoint) {
            font-size: 1.5em;
        }
    }

    &__content {
        display: flex;
        margin: 0 2em;
        margin-bottom: 4em;

        @media (max-width: v.$breakpoint) {
            flex-direction: column;
            align-items: center;
            margin: 0;
        }

        &__image {
            height: 400px;
            margin-right: 1rem;

            @media (max-width: v.$breakpoint) {
                width: 100%;
                height: auto;
                margin-right: 0;
                margin-bottom: .5rem;
            }

            &__absent {
                width: 1500px;
                font-size: 1.5em;
            }
        }

        &__prices {
            width: 60%;
            margin: 2em auto;
            margin-bottom: 4em;
            border: 2px solid v.$fifthColor;
            text-align: center;
            padding: 2em;

            @media (max-width: v.$breakpoint) {
                width: 100%;
                margin: .5em auto;
                margin-bottom: 4em;
                border: 2px solid v.$fifthColor;
                text-align: center;
                padding: .5em;
            }

            &__price {
                font-size: 1.2rem;
            }
        }
    }

    
}